/* todo: sidebar containing name and lists view */


/* title  */
.header-section {}


/* actions-tasks container */
.tasks-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* search */

.search-task-container {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 0 2rem;

}

input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
}

/* tasks container and it's items */

.tasks-list-container {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 90%;
    border-radius: 10px;
}

.task {
    background-color: rgb(233, 204, 168);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    border-radius: 10px;
    padding: 0 0.8rem;
}

.task-title {
    width: 70%;
}

.done-task {
    color: gray;
    text-decoration: line-through;
}

.checkbox {
    width: 5%;
    margin: 0.2rem;
}

.btn {
    width: 10%;
    padding: 0.3rem;
    margin: 0.2rem;
    border-radius: 5px;
}

/* add */

.add-task-container {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}




/* popup */

.popup-container {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;
}


.popup-content {
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 60%;
}

.popup-container p{
    color: blueviolet;
    line-height: 24px;
    margin: 10px;
}

.close-btn{

}